@inherits Zone

<form hx-post="/interact/add-zone" hx-target="closest form" hx-swap="outerHTML">
    <AntiforgeryToken />

    <article hx-sync="closest form:queue">
        <header>
            <h3>
                <input type="text" name="name" required value="@Name" onchange="closest('form').requestSubmit()">
            </h3>
            <span class="provider">
                <select name="provider" required>
                    <option>Select...</option>
                    <option selected="@(Provider == "Hetzner")">Hetzner</option>
                </select>
            </span>
        </header>

        <section class="config">
            <ul>
                @foreach (var (key, value) in Parameters)
                {
                    <li class="parameter">
                        <span class="key">@key</span>
                        <span class="value">@value</span>
                    </li>
                }
            </ul>
        </section>

        <section class="domains">
            <header>Subdomains</header>
            <ul>
                @foreach (var domain in Subdomains)
                {
                    <li class="subdomain">
                        <span class="name">@domain</span>
                        <span class="zone">@Name</span>
                    </li>
                }
            </ul>
        </section>

        <section class="controls">
            <DynButton Submit name="save" value="true">
                Save zone
            </DynButton>

            <DynButton hx-delete=@("/interact/delete-zone/_") hx-target="closest form" hx-swap="outerHTML">
                Cancel
            </DynButton>
        </section>
    </article>
</form>
